*{
    margin: 0px;
    font-family: arial;
    border: border-box;

}
.navbar{
    height: 60px;
     background-color: #0f1111;
     color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    position: fixed;
    top: 0px;
    
    width: 100%;

}
.amazon-logo{
    height: 50px;
    width: 100px;  
}
.logo{
   background-image: url("Amazon-logo.jpeg");
   background-size: cover;
   height: 50px;
   width: 100%;
}
.border{
    border:2px solid transparent  ;
}
.border:hover{
    border:1.5px solid white;  
}
/* box two */
.address-box1{
    
    color: #cccccc;
    font-size: 0.79rem;
    margin-left: 15px;

}
.address-box2{
    font-size: 0.79rem;
    margin-left: 3px;
}
.address-icon{
    display: flex;
    align-items:center ;
}
/* box3 */


.nave-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color:#f3f3f3 ;
    width: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    color:#0f1111;

}
.nave-search:hover{
    border:2px solid orange ;
}
/* box4 */
 
.nav-singin{

}
span{
    font- size 0.75rem; ;
}
.nav-second{
    font-size:0.85rem ;
    font-weight: 700;
}
    
/* 5th box */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* div 2 */
/* box1 */
.panel{
    /* margin-top: 60px; */

    display: flex;
    
    height:100px ;
    background-color:#222f3d ;
    color: white;
    justify-content: space-evenly;
    align-items: flex-end ;
    padding-bottom: 10px;
    
}
.pannel-all i{
    
}
.panel-all{
    display: flex;
    
    
    
}
.panel-options {
    width: 70%;
    font-size: 0.85rem;

    
    
}
a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    
}
.panel-deals{
    font-size: 0.9rem;
    font-weight:700px;
    
}
/* hero-section */
.hero-section{
    background-image: url("img_jpg.jpeg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 85%;
    /* position: absolute;
    bottom: 350px;
    margin-left: 50px; */
    margin-bottom: 25px;
    
    

    
    

}
.hero-message a{
    color: #007185;
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgray;
    
    
    
}
.box{
    /* border:2px solid black ; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 15px;
    
    
    
   
}
.box1{
    

}
.box-img{
    background-image: url("img5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box-img p{
    position: relative;
    top: 350px;
    color: #007185;;
}
  
   .box-content{
       margin-left:10px ;
       margin-right: 10px; ;
   }
  .box-img4{
    background-image: url("img4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px ;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  .box-img4 p{
    position: relative;
    top: 320px;
    color: #007185;;
    
  }
  .box-img3{
    background-image: url("img3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px ;
    margin-top: 1rem;
    margin-bottom: 1rem;


  }
  .box-img3 p{
    position: relative;
    top: 320px;
    color: #007185;;
  }
  .box-img2{
    background-image: url("img2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:300px ;
    margin-top: 1rem;
    margin-bottom: 1rem;


  }
  .box-img2 p{
    position: relative;
    top: 320px;
    color: #007185;;
  }
  